{% extends 'layout.html' %}

{% block body %}
  <h1>About our project</h1>
  <h2> Welcome to the project dashboard!</h2>
  <h4> The dashboard provides a visualization of our data that has been collected from Twitter and Reddit.</h4>
  <h4> The data can be visualized over two options:</h4>
  <ol>
    <li><h4> Tweet count by date: The program takes in a date or a date range as an input and plots a graph depicting the number of tweets collected everyday within or beyond the date  range</h4></li>
    <li><h4> reddit subscribers: The program shows the total number of subscribers for some famous sports across the globe</h4></li>
  </ol>

{% endblock %}

